.alignleft
{
	display: inline;
	float: left;
	margin-right: $image-margin;
}

.alignright
{
	display: inline;
	float: right;
	margin-left: $image-margin;
}

.aligncenter
{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone
{
	// not sure about this one
}

.wp-caption
{
	height: auto;
	margin-bottom: 1.5em;
	max-width: 100%;
	padding-top: 5px;
	text-align: center;

	img
	{
		border: 0 none;
		margin: 0;
		padding: 0;
	}

	.wp-caption-text
	{
		font-size: 10px;
		line-height: 1.5;
		margin: 0;
	}
}

.wp-smiley
{
	margin: 0;
	max-height: 1em;
}

blockquote
{
	float: right;
	width: 33%;

	.left
	{
		margin-left: 0;
		margin-right: 20px;
		text-align: right;
	}

	.right
	{
		margin-left: 20px;
		margin-right: 0;
		text-align: left;
	}
}

.gallery
{
	dl
	{
		a
		{

		}

		img
		{

		}
	}

	dt
	{

	}
}


.gallery-caption
{

}

.size-full
{

}

.size-large
{

}

.size-medium
{

}

.size-thumbnail
{

}
